<html>
  <head>
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>Google</title>
  </head>
  
  <body>
    <header>
      <ul>
        <li class="entete connexion"><a href="https://accounts.google.com/signin/v2/sl/pwd?hl=fr&passive=true&continue=https%3A%2F%2Fwww.google.fr%2F%3Fgfe_rd%3Dcr%26ei%3DH_VcWY7bLLHA8geb7Kq4Dg&flowName=GlifWebSignIn&flowEntry=ServiceLogin">Connexion</a></li>
        <li class="entete"><a href="https://www.google.fr/intl/fr/options/"><img src="" alt="Applications Google"></a></li>
        <li class="entete"><a href="https://www.google.fr/imghp?hl=fr&tab=wi&ei=ofRcWaa2N4LxUojSocgC&ved=0EKouCBYoAQ">Images</a></li>
        <li class="entete"><a href="https://accounts.google.com/signin/v2/sl/pwd?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F%3Ftab%3Dwm&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">Gmail</a></li>
      </ul>
    </header>

    <div class="google">
    </div>
    
    <div>
      <form class="box">
        <input class="recherche" type="text">
      </form>
    </div>
    
    <div class="bouton">
      <button>Recherche Google</button>
      <button>Shiawase desu</button>
    </div>

    <footer>
      <ul>
        <li class="bas gauche">Publicité</li>
        <li class="bas gauche">Entreprise</li>
        <li class="bas gauche">A propos</li>
        <li class="bas droite">Utiliser Google.fr</li>
        <li class="bas droite">Paramètres</li>
        <li class="bas droite">Conditions d'utilisation</li>
        <li class="bas droite">Confidentialité</li>
      </ul>
    </footer>
  </body>

</html>
